<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

# print the value of a
print(a)

In [2]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [5]:
languages = ['R','Python','SAS','Scala',42]
print(languages)

['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [7]:
print(languages)

['R', 'Python', 'SAS', 'Scala', 42]

Using for loop iterate and print all the elements in the list

In [8]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [11]:
temp = languages[1]

Print the value of temp and type(temp)

In [13]:
print(temp)

print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [14]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [17]:
# languages.remove(42)

print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [18]:
colors = ['Red','Blue','White']

Append the element 'Black' to colors

In [19]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [21]:
colors.insert(1,'Orange')

Print the list

In [22]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [23]:
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [36]:
colors.extend(colors)

Print len of colors and its elements

In [38]:
print(len(colors))

print(colors)

40
['Red', 'Orange', 'Blue', 'White', 'Black', 'Red', 'Orange', 'Blue', 'White', 'Black', 'Red', 'Orange', 'Blue', 'White', 'Black', 'Red', 'Orange', 'Blue', 'White', 'Black', 'Red', 'Orange', 'Blue', 'White', 'Black', 'Red', 'Orange', 'Blue', 'White', 'Black', 'Red', 'Orange', 'Blue', 'White', 'Black', 'Red', 'Orange', 'Blue', 'White', 'Black']

Sort the list and print it.

In [40]:
colors.sort()

print(colors)

['Black', 'Black', 'Black', 'Black', 'Black', 'Black', 'Black', 'Black', 'Blue', 'Blue', 'Blue', 'Blue', 'Blue', 'Blue', 'Blue', 'Blue', 'Orange', 'Orange', 'Orange', 'Orange', 'Orange', 'Orange', 'Orange', 'Orange', 'Red', 'Red', 'Red', 'Red', 'Red', 'Red', 'Red', 'Red', 'White', 'White', 'White', 'White', 'White', 'White', 'White', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [41]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [42]:
words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [44]:
list(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

In [48]:
words_lower = [i.lower() for i in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [49]:
if 'country' in words:
    print('yes')
else:
    print('No')

No

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [53]:
words = [i for i in words if i!='The']
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [56]:
x4 = words_lower[0:4]

In [57]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [58]:
sentence = ' '.join(words)
print(sentence)

Coronavirus Caused Lockdowns Around World.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [59]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [61]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [62]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [63]:
print(stud_grades_set)

{'F', 'A', 'B', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [65]:
print(type(stud_grades))
print(stud_grades)
print(type(stud_grades_set))
print(stud_grades_set)

<class 'list'>
['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'>
{'F', 'A', 'B', 'C'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [66]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [67]:
stud_grades_set.add('F')
print(stud_grades_set)

{'A', 'B', 'F', 'C', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [68]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [69]:
print(len(stud_grades_set))
print(stud_grades_set)

4
{'A', 'B', 'C', 'G'}

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [72]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [73]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [75]:
colors_set = set(colors)
fruits_set = set(fruits)
print(colors_set)
print(fruits_set)

{'blue', 'red', 'orange'}
{'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [76]:
union_set = colors_set.union(fruits_set)
print(union_set)

{'red', 'orange', 'grapes', 'blue', 'apples'}

Find the intersection of both the sets

In [77]:
intersection_set = colors_set.intersection(fruits_set)
print(intersection_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [79]:
diff = fruits_set.difference(colors_set)
print(diff)

{'apples', 'grapes'}

In [80]:
diff1 = colors_set.difference(fruits_set)
print(diff1)

{'blue', 'red'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [82]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [84]:
print(temp)

[17, 'Virat', 50.0]

replace first element with 11 in temp

In [91]:
temp.remove(11)

In [92]:
temp[0] = 11
print(temp)

[11, 17, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [93]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [95]:
for i in temp1:
    print(i)

11
17
Virat
50.0

replace first element with 17 in temp1

In [96]:
temp1[0] = 17 # You cannot replace the value here because tuple is immutable
print(temp1)

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [97]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [98]:
city[0]

'Bangalore'

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [99]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [101]:
cities = (city, city2)

Print cities

In [102]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [103]:
type(cities[0])

tuple

print the type of cities

In [104]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [106]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [111]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [115]:
actor = d['actor']
print(actor)

amir

Print the type of actor

In [116]:
type(actor)

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [117]:
list = d['list']

Print the type of List.

In [118]:
type(list)

list

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [119]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [121]:
d.update(d1)

print d

In [122]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [123]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [124]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [125]:
for key,value in d.items():
    print(f"({key}---->{value})")

(actor---->amir)
(animal---->cat)
(earth---->2)
(list---->[23, 32, 12])
(singer---->Kr$na)
(album---->Still here)
(genre---->hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [129]:
w = "sent"
char_count = {}

for i in w:
    if i in char_count:
        char_count[i]+=1
    else:
        char_count[i]=1

In [130]:
print(char_count)

{'s': 1, 'e': 1, 'n': 1, 't': 1}